<h3>Your Order Shipped</h3>
<p>
  This is just to let you know that we've shipped your recent order:
</p>

<table>
  <tr align="center">
    <th colspan="2">Book Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
<%= render @order.line_items %>
</table>
