<table border="1" class="table table-striped">
  <% @line_items.each do |line_item| %>
      <% @the_product = Product.find(line_item.product_id) %>
      <tr>
        <td rowspan="2">
          <%= link_to image_tag(@the_product.image_url, size: '50') %>
        </td>
        <td>
          <%= @the_product.title %>
        </td>
      </tr>
      <tr>
        <td>
          Quantity: <%= line_item.quantity %>
        </td>
      </tr>
  <% end %>
</table>