<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div style="position: relative; top: 200px;" class="modal-dialog">
    <div class="modal-content">
      <h3>Welcome to my bookstore!!</h3>
    </div>
  </div>
</div>
