<% if line_item == @current_item %>
	<tr id="current_item">
<% else %>
	<tr>
<% end %>
		<td><%= line_item.quantity %>&times;</td>
		<td><%= line_item.product.title %></td>
		<td class="line_item_price" align="right"><%= number_to_currency(line_item.total_price) %></td>
		<% if !session[:cart_id].nil? %>
		<td><%= button_to "X", line_item, method: :delete, remote: true, 
											:disabled => !@order.nil? %></td>
		<% end %>
	</tr>