<% flash.each do |message_type, message| %>
    <% message_type = 'success' if message_type == 'notice' %>
    <% message_type = 'danger' if message_type == 'alert' %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<%= render 'layouts/footer' %>